.row {
  display: flex;
}

.col {
  background-color: rgb(119, 165, 123);
  margin: 5px;
  padding: 10px;
  flex: 1;
  border-radius: 20px;
  box-shadow: rgb(196, 193, 193) 10px 10px 10px;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}
